<footer class="footer">
  <div class="footer__copyright">
    <div class="top">
      <span>Template designed by</span>
    </div>
    <div class="bottom intro__contact">
      <span>
        <a href="https://bchiang7.github.io" target="_blank" class="highlight-link">Brittany Chiang</a>
      </span>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="top">
      <span>Some icon by </span>
    </div>
    <div class="bottom intro__contact">
      <span>
        <a href="https://www.flaticon.com/authors/alfredo-hernandez" title="Alfredo Hernandez" target="_blank" class="highlight-link">Alfredo Hernandez</a>
      </span>
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
