<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category" id="language_skills">
        <div class="skillz__category__label">Languages</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="framework_skills">
        <div class="skillz__category__label">Frameworks</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="tools_skills">
        <div class="skillz__category__label">Tools</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="interest_skills">
        <div class="skillz__category__label">Interests</div>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</section>
