<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category" id="language_skills">
        <div class="skillz__category__label">Languages</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="framework_skills">
        <div class="skillz__category__label">Frameworks</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="tools_skills">
        <div class="skillz__category__label">Tools</div>
        <ul>
        </ul>
      </div>
      <div class="skillz__category" id="interest_skills">
        <div class="skillz__category__label">Interests</div>
        <ul>
        </ul>
      </div>
    </div>
  </div>
</section>
<script>
  collection.doc("skills").get().then(function(doc) {
    $(function() {
      appendItem("#language_skills ul", doc.get("languages"));
      appendItem("#framework_skills ul", doc.get("frameworks"));
      appendItem("#tools_skills ul", doc.get("tools"));
      appendItem("#interest_skills ul", doc.get("interests"));
      function appendItem(id, items) {
        items.forEach(function(item) {
          $(id).append('<li class="skillz__category__item">' + item + '</li>');
        });
      }
    });
  });
</script>
